{% extends "::base.html.twig" %}

    {% block stylesheets %}
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

        {% stylesheets
        '@WebStockBundle/Resources/public/css/theme.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
{% block head %}
    <header class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    {% image '@WebStockBundle/Resources/public/img/logo.png' %}
                    <img src="{{ asset_url }}" alt="Ber" height="106" width="106"/>
                    {% endimage %}
                </a>
            </div>
            <nav class="collapse navbar-collapse" id="nav-collapse" role="navigation">
                <div class="container">
                    {{ knp_menu_render('WebBundle:FrontendBuilder:mainMenu', {'depth': 1, 'currentAsLink': false}) }}
                </div>

            </nav>
        </div>
    </header>
{% endblock %}
    {% block footer %}
        <footer>
            <div class="container">
                <div class="col-sm-3"> Ber</div>
                <div class="col-sm-3">
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <a href=""> <i class="fa fa-facebook"></i></a>
                </div>
                <div class="col-sm-offset-1 col-sm-3 pull-right">Разработано в <a href="http://www.muraveyweb.ru">MuraveyWeb</a></div>
            </div>

        </footer>
    {% endblock %}

{% block javascript %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
{% endblock %}