{% trans_default_domain "WebStockBundle" %}

<div class="skyCircle text-center row">

    <a href="{{ path('order_new') }}">
        <div>{% trans %}write_us_for_order{% endtrans %}</div>
    </a>
    {#<a href="{{ path('sylius_cart_item_add', {'productId': entity.id}) }}">#}
        {#<div>Перейти к оплате</div>#}
        {#<div class="price secondLine">{{ entity.costRub }}</div>#}
    {#</a>#}
</div>