<h3 class="text-center section">Отзывы о нас</h3>
<div class="col-sm-3">
    <h4>Лаура Блэк</h4>
    <p class="text-muted">Лос Анжелес, США</p>
    <div class="media-body"><p>
            Отличное пончо! Мне идеально подошло. Буду носить не снимая
        </p>
    </div>
</div>
<div class="col-sm-3">
    <h4>Лаура Блэк</h4>
    <p class="text-muted">Лос Анжелес, США</p>
    <div class="media-body"><p>
            Отличное пончо! Мне идеально подошло. Буду носить не снимая
        </p>
    </div>
</div>
<div class="col-sm-3">
    <h4>Лаура Блэк</h4>
    <p class="text-muted">Лос Анжелес, США</p>
    <div class="media-body"><p>
            Отличное пончо! Мне идеально подошло. Буду носить не снимая
        </p>
    </div>
</div>